:root {
  --toggleBgc: #ccd0d4;
}
body {
  background-color: #333333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// 按钮盒子颜色，阴影
.toggle {
  position: relative;
  display: inline-block;

  margin: 34px;
  width: 140px;
  height: 140px;
  background-color: var(--toggleBgc);
  border-radius: 8px;

  box-shadow: inset 0 0 35px 5px rgba(0, 0, 0, 0.3),
    inset 0 2px 1px 1px rgba(225, 225, 225, 0.9),
    inset 0 -2px 1px 0px rgba(0, 0, 0, 0.3), 0 2px 5px 5px rgba(0, 0, 0, 0.3);
}

// 按钮背部光线
.toggle::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;

  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #fff;

  box-shadow: 0 0 36px 8px rgba(225, 225, 225, 0.6);
}

// 圆形纽扣按钮
.toggle .button {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;

  width: 96px;
  height: 96px;
  background-color: #ccd0d4;

  margin-left: -48px;
  margin-top: -48px;
  border-radius: 96px;

  box-shadow: 0 15px 25px -5px rgba(0, 0, 0, 0.5),
    // 下外侧
    inset 0 -3px 5px 2px rgba(0, 0, 0, 0.2),
    // 下内侧
    inset 0 3px 5px 1px rgba(225, 225, 225, 0.7),
    inset 0 0 5px 1px rgba(225, 225, 225, 0.8),
    inset 0 20px 30px 0 rgba(225, 225, 225, 0.2);
}

// Symbol
.toggle .label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 0.9;

  color: rgba(0, 0, 0, 0.3);
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  line-height: 136px;

  text-shadow: 1px 1px 3px #ccd0d4, 0px 0px 0px rgba(0, 0, 0, 0.8),
    2px 2px 4px rgba(0, 0, 0, 0.5);
}

// 覆盖单选按钮
.toggle input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  margin: 0;
}

// 选中效果
.toggle input:checked ~ .button {
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.4),
    inset 0 -3px 6px 2px rgba(225, 225, 225, 0.9),
    inset 0 8px 25px 0px rgba(0, 0, 0, 0.2);
}
